<!DOCTYPE html>

<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>html2md converter</title>

  <style>
      #flex-container {
          align-items: center;
          display: flex;
          flex-direction: column;
      }

      .flex-item {
          width: 55%;
      }

      #html-output-area {
          border: solid 1px black;
      }

      textarea {
          box-sizing: border-box;
          height: 10em;
          resize: vertical;
          width: 100%;
      }
  </style>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.2.0/styles/vs.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.2.0/highlight.min.js"></script>
</head>

<body>
<div id="flex-container">
  <h1>Markdown -> HTML</h1>

  <div class="flex-item">
    <form id="markdown-input-area" method="POST">
      <label for="markdown-text">Markdown:</label>
      <textarea name="md" id="markdown-text"><%= input_md %></textarea>
    </form>
  </div>
  <input type="submit" form="markdown-input-area" value="Convert" style="margin: 1%;">

  <div class="flex-item">
    <label for="html-output-area">HTML:</label>
    <div id="html-output-area">
      <pre><code><%= Rack::Utils.escape_html(output) %></code></pre>
    </div>
  </div>
</div>

<script>hljs.initHighlightingOnLoad();</script>
</body>

</html>
